<div class="jumbotron">
<h1>Editar Artista </h1>
  <div class="container text-center">
    <div class="container-fluid text-left">
    <form action="Artista/editarArtista" method="post">
       <div class="col-md-6">
    <div class="form-group">
    <label>Nombres Completos</label>
    <input  required type="text" class="form-control"  placeholder="Nombres Completos" name="nombre" value="<%=artista.nombre%>">
    </div>
    <div class="form-group">
    <label>Genero Musical</label>
    <input  required type="text" class="form-control"  placeholder="Estilo" name="estilo" value="<%=artista.estilo%>">
    </div>
    <div class="form-group">
    <label for="">Album</label>
    <select class="form-control" name="idAlbum" value="<%=artista.idAlbum%>">
      <% for(var i=0; i<album.length; i++){ 
        if(album[i].nombre==artista.idAlbum) {
      %>
        <option selected=true value='<%=album[i].nombre%>' >  <%=album[i].nombre%>  </option>
       <% }else {%>
        <option value='<%=album[i].nombre%>' >  <%=album[i].nombre%>  </option>
       <% }}%>
    </select>
    </div>
    <br>
    <div class="form-group">
    <label>Pais de Residencia</label>
    <select class="form-control" name="paisResidencia" value="<%=artista.paisResidencia%>">
    <%  if('Ecuador'==artista.paisResidencia) {   %>
      <option selected=true value='Ecuador'>Ecuador</option>
    <% }else {%>  
      <option value='Ecuador'>Ecuador</option>
      <% }%>
    <%  if('Uruguay'==artista.paisResidencia) {   %>
      <option selected=true value='Uruguay'>Uruguay</option>
    <% }else {%>  
      <option value='Uruguay'>Uruguay</option>
      <% }%>

      <%  if('Brasil'==artista.paisResidencia) {   %>
      <option selected=true value='Brasil'>Brasil</option>
    <% }else {%>  
      <option value='Brasil'>Brasil</option>
      <% }%>

      <%  if('Argentina'==artista.paisResidencia) {   %>
      <option selected=true value='Argentina'>Argentina</option>
    <% }else {%>  
      <option value='Argentina'>Argentina</option>
      <% }%>

      <%  if('Colombia'==artista.paisResidencia) {   %>
      <option selected=true value='Colombia'>Colombia</option>
    <% }else {%>  
      <option value='Colombia'>Colombia</option>
      <% }%>
    </select>   
    </div>
    <input type="hidden" name="id" value="<%=artista.id%>">
    <button type="submit" class="btn btn-success">Aceptar</button>
    </div>
    </form>
    </div>
  </div>
</div>